Source: ros-indigo-octomap-rviz-plugins
Section: misc
Priority: extra
Maintainer: Julius Kammerl <jkammerl@willowgarage.com>
Build-Depends: debhelper (>= 7.0.50~), ros-indigo-catkin, ros-indigo-octomap, ros-indigo-octomap-msgs, ros-indigo-roscpp, ros-indigo-rviz
Homepage: 
Standards-Version: 3.9.2

Package: ros-indigo-octomap-rviz-plugins
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-indigo-octomap, ros-indigo-octomap-msgs, ros-indigo-roscpp, ros-indigo-rviz
Description: A set of plugins for displaying occupancy information decoded from binary octomap messages.
